run = ["mkdocs", "serve"]
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["bash", "-c", "mkdocs serve"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true